---
/**Los layouts son componentes especiales que envuelven nuestra aplicacion */

import Header from '@/components/Header.astro';

interface Props {
	title: string;
}

// De esta manera recuperamos las props
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-900 min-h-screen pb-32">
		<Header/>
		<main class="container px-4 mx-auto">
			<!-- Slot equilave al children en react -->
			<slot />
		</main>
	</body>
</html>

<!-- Al usar is:global, indicamos que son estilos GLABALES -->
<style is:global>

	html {
		font-family: system-ui, sans-serif;
		color-scheme: dark light; /*--> textto claro*/
	}

</style>
